.exercise-details-section {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.break-time-container {
    display: flex;
    background-color: #e6e6e6;
    padding: 25px;
    border-radius: 20px;

}

.break-time {
    background-color: blueviolet;
    margin-right: 15px;
    padding: 10px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 30px;
}

.break-time:hover {
    background-color: violet;
}

.personal-info {
    display: flex;
    background-color: #e6e6e6;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 10px;

}

.single-info {
    display: flex;
    align-items: center;
}

.measure-unit {
    margin-right: 14px;
    margin-top: 0;

}

.exercise-and-time-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    padding-right: 50px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}